header.bg-indigo-400.p-4
    .container.mx-auto.flex.justify-between.items-center
        .flex.items-center
            h1.text-center.text-3xl.my-5.font-extrabold.text-white
                | Bien
                span.font-normal Raíz 
        nav.my-5.text-sm.md.flex.md.items-center.gap-3.font-bold.text-white
            a(href="/mispropiedades") Mis propiedades
            a(href="/") Inicio
            form(action="/auth/cerrar-sesion" method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="submit" value="Cerrar sesión" class="bg-indigo-800 p-2 rounded-2xl hover:cursor-pointer hover:bg-indigo-900 transition-colors")
